nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    max-width: 600px;
    width: 100%;
    margin: auto;
    padding: 20px;
}

nav ul li{
    margin-right: 20px;
}

.pinterest-icon{
    color: red;
}
.srch{
    color: grey;
}
.bell{
    color: grey;
}

.messages{
    color: grey;
}

.prof{
    color: grey;
}

nav ul li form{
    display: flex;
    width: 100px;
    color: black;

}
nav ul li .input-group {
    flex: 1;
    color: black;
  }

  nav ul li .form-control {
    border-radius: 20px;
    width: 20px;
  }

  nav ul li .btn {
    border-radius: 20px;
  }

  .card1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    border-radius: 5px;
  }
